<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninjas</h1></a>
    <p>Net Ninja Site</p>
  </div>

  <div class="not-found content">
    <h2>404</h2>
    <h3>Uoooops, page not found!</h3>
  </div>
</nav>
