<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>My Blog | <%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>My Blog</h1></a>
        <p>My first blog Site</p>
      </div>
    </nav>

    <div class="not-found content">
      <h2>404</h2>
      <h3>Uoooops, page not found!</h3>
    </div>

    <footer>Copyright &copy; mimaks 2020</footer>
  </body>
</html>
