<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>My Blog | <%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>My Blog</h1></a>
        <p>My first blog Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>About us</h2>
      <p class="justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt,
        accusamus beatae enim facilis pariatur nihil ut nemo eligendi iusto
        similique sint dolorem amet veritatis, suscipit omnis ratione assumenda
        voluptatum quasi sit. Quae porro adipisci aliquam excepturi quam illum
        debitis nobis.
      </p>
      <p class="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
        accusantium laborum ullam accusamus rem facere aliquam facilis, illo
        molestias mollitia? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Maxime distinctio nihil in. Possimus, illum aperiam iure
        architecto aut dolorem consequatur?
      </p>
    </div>
  </body>
  <footer>Copyright &copy; mimaks 2020</footer>
</html>
